<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SKF Automation Project">


	<listeners>
		<listener class-name="org.uncommons.reportng.HTMLReporter" />
		<listener
			class-name="org.uncommons.reportng.JUnitXMLReporter" />
	</listeners>

	<test name="Login">
		<classes>
			<class name="com.skf.testcases.Login" />
		</classes>
	</test> <!-- Test -->

	<test name="Turbine">
		<classes>
			<class name="com.skf.testcases.Turbine" />
			<class name="com.skf.testcases.Notification" />
		</classes>
	</test> <!-- Test -->

	<test name="Event">
		<classes>
			<class name="com.skf.testcases.EventSection" />
			<class name="com.skf.testcases.CancelFlow" />
			<class name="com.skf.testcases.ExistingEvent" />
			<class name="com.skf.testcases.SaveSubmitEventFlow" />
		</classes>
	</test> <!-- Test -->
	<test name="Report">
		<classes>
			<class name="com.skf.testcases.ReportFault" />
			<class name="com.skf.testcases.ReportFeedback" />
		</classes>
	</test>
		<test name="Event Work Order ">
		<classes>
			<class name="com.skf.testcases.EventWorkAndOrder" />
		</classes>
	</test>
	
		<test name="Supply Chain ">
		<classes>
			<class name="com.skf.testcases.SupplyChain" />
		</classes>
	</test>

</suite> <!-- Suite -->
